.titlecolour{
    color: white;  
    font-weight: bold;
	/* class for the style of titles on a page */ 
	
}
.titlepic{
	height: 228px;
	width: 180px;
	padding: 20px; 	
	
}
.picturesize{
	height: 140px;
	width: 90px; 
	padding: 10px; 
	
}

.displaysize{
	height: 228px;
	width: 180px; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	border: 4px solid black; 
    background-color: #CDE8EA;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: left;
}



